
@{
    ViewData["Title"] = "Login Page";
}

<style>
    #err_msg {
        color: red;
        font-weight: bold;
        padding: 10px;
    }

    .align-middle {
        width: 300px;
        margin-top: 100px;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;
    }
</style>

@section scripts{
    <script src="~/js/Login.js"></script>
}

<p></p>

<form id="form" action="/login/Authenticate" method="POST">

    <table align="center" class="align-middle" cellpadding="8" cellspacing="8">
        <tr><td colspan="2" align="right"><span id="unameOutput" style="color:darkred"></span></td></tr>
        <tr>
            <td>
                Username:
            </td>
            <td>
                <input id="username" name="username" class="form-control" value="@ViewData["username"]" />
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input id="password" name="password" type="password" class="form-control" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input id="submitbutton" type="submit" class="btn btn-success" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <div id="err_msg">@ViewData["errMsg"]</div>
            </td>
        </tr>

    </table>
</form>
