@{
    string orderid = (string)ViewData["orderId"];
}

<h2>Your order is confirmed. Your order Id is @orderid</h2>
<a asp-controller="Home" asp-action="index" class="btn btn-success">Back to Home</a>
<a asp-controller="Orderhistory" asp-action="index" type="button" id="btnprint" class="btn btn-warning">Make Payment</a>
